$font-size-xl: 48px;
$font-size-l:  24px;
$font-size-m:  16px;
$font-size-s:  12px;
$font-size-xs: 8px;

.heading {
  font-family: 'Helvetica', 'Arial';
}

.heading--level-1 {
  /* for section header */
  font-size: $font-size-xl;
  font-weight: bold;
  padding-bottom: 8px;
  margin: 0 16px;
  border-bottom: 4px solid black;
}

.heading--level-2 {
  padding: $padding--m;
  font-size: $font-size-m;
}

.heading--level-3 {
 /* for ATF headlines */
}

.heading--byline {
  color: gray;
  font-size: $font-size-s;
  text-transform: uppercase;
}

.heading--credit {
  text-transform: uppercase;
  color: gray;
  font-size: $font-size-s;
}

.heading--desk {
  font-size: $font-size-xs;
  text-transform: uppercase;
  font-weight: bolder;
}

.heading--level-6 {

}

p {
  font-size: $font-size-m;
}

