* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Georgia', 'Times New Roman'; }

a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  max-height: 100%; }

a:hover {
  text-decoration: underline; }

.heading--sans-serif, .heading, .button {
  font-family: 'Helvetica', 'Arial'; }

.heading--serif, .aColumn .LedeStory395 .heading--level-3, .aColumn .BlogModule .heading--level-3, .aColumn .collection:nth-child(4) .article:nth-child(2) .heading--level-3, .aColumn .collection:nth-child(5) .heading--level-3, .bColumn .collection:nth-child(3) .heading--level-3 {
  font-family: "Georgia", "Times New Roman"; }

.heading--level-1 {
  /* for section header */
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 8px;
  margin: 0 16px;
  border-bottom: 4px solid black; }

.heading--level-2 {
  padding: 16px;
  font-size: 16px; }

.heading--level-3 {
  /* will style based on location, even though this violates OOCSS
   * principles */ }

.heading--byline {
  color: gray;
  font-size: 12px;
  text-transform: uppercase;
  padding: 16px 0; }

.heading--credit {
  text-transform: uppercase;
  color: gray;
  font-size: 8px; }

.heading--desk {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 16px 0; }

.heading--kicker {
  padding: 8px 0;
  font-size: 12px;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.3; }

@media (max-width: 960px) {
  .heading--level-1 {
    font-size: 24px; }

  .heading--level-2 {
    font-size: 12px; } }
.util--margin-ls {
  margin-left: 8px; }

.util--margin-lm {
  margin-left: 16px; }

.site-layout {
  padding: 96px; }

@media (min-width: 961px) {
  .site-layout {
    margin: 0 auto;
    max-width: 1280px; } }
@media (max-width: 960px) {
  .site-layout {
    padding: 64px; } }
@media (max-width: 768px) {
  .site-layout {
    padding: 32px; } }
.section {
  display: inline-block;
  padding: 16px 0;
  border-bottom: 1px solid #dbdbdb; }
  .section.aColumn {
    display: flex;
    flex-wrap: wrap; }

.aColumn .LedeStory395 {
  float: left;
  width: 25%; }
  .aColumn .LedeStory395 .heading--level-3 {
    font-size: 24px; }
  .aColumn .LedeStory395 .article {
    border-right: 1px solid #dbdbdb; }
.aColumn .BlogModule {
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .aColumn .BlogModule .article {
    border-left: 1px solid #dbdbdb; }
  .aColumn .BlogModule .article ~ .article .article__inner {
    border-top: 1px solid #dbdbdb; }
  .aColumn .BlogModule .heading--level-3 {
    font-size: 16px; }
  .aColumn .BlogModule .image-container {
    float: right; }
  .aColumn .BlogModule p {
    font-size: 14px; }
.aColumn .collection:nth-child(2) {
  float: left;
  width: 25%; }
.aColumn .collection:nth-child(4) {
  border-top: 1px solid #dbdbdb;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between; }
  .aColumn .collection:nth-child(4) .article {
    flex: 1; }
  .aColumn .collection:nth-child(4) .article:nth-child(2) .heading--level-3 {
    font-size: 32px; }
  .aColumn .collection:nth-child(4) .article ~ .article {
    border-left: 1px solid #dbdbdb; }
  .aColumn .collection:nth-child(4) .image-container {
    width: 50%;
    float: right;
    padding-left: 16px;
    padding-bottom: 16px; }
.aColumn .collection:nth-child(5) {
  border-top: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column; }
  .aColumn .collection:nth-child(5) .heading--level-3 {
    font-size: 24px;
    font-weight: 500; }
  .aColumn .collection:nth-child(5) .article {
    width: 66.66%; }
  .aColumn .collection:nth-child(5) .article .image-container {
    padding-top: 16px;
    padding-left: 16px;
    max-width: 30%;
    float: right; }
  .aColumn .collection:nth-child(5) .article ~ .article {
    border-top: 1px solid #dbdbdb; }
.aColumn .collection:nth-child(7) {
  border-top: 4px solid black; }
  .aColumn .collection:nth-child(7) .article {
    width: 100%; }
  .aColumn .collection:nth-child(7) .article .image-container {
    padding: 16px 0 0 16px;
    width: 30%;
    float: right; }
  .aColumn .collection:nth-child(7) .article ~ .article {
    border-top: 1px solid #dbdbdb; }

.bColumn .collection:nth-child(6), .bColumn .collection:nth-child(8), .bColumn .collection:nth-child(9),
.bColumn .collection:nth-child(10) {
  display: none; }
.bColumn .collection:nth-child(1) {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #dbdbdb; }
  .bColumn .collection:nth-child(1) .article {
    width: 100%; }
  .bColumn .collection:nth-child(1) .article .image-container {
    padding: 16px 16px 16px 0;
    width: 30%;
    float: left; }
.bColumn .collection:nth-child(2) {
  display: inline-block;
  width: 33.33%;
  float: left; }
  .bColumn .collection:nth-child(2) .article ~ .article .article__inner {
    border-top: 1px solid #dbdbdb; }
.bColumn .collection:nth-child(3) {
  width: 66.66%;
  display: inline-block;
  float: left; }
  .bColumn .collection:nth-child(3) .heading--level-3 {
    font-weight: 500; }
  .bColumn .collection:nth-child(3) .article {
    width: 33%;
    float: left; }
  .bColumn .collection:nth-child(3) .article ~ .article {
    border-left: 1px solid #dbdbdb; }
.bColumn .collection:nth-child(4) {
  width: 66.66%;
  border-top: 1px solid #dbdbdb;
  float: left; }
.bColumn .collection:nth-child(5) {
  width: 100%;
  clear: both;
  border-top: 1px solid #dbdbdb; }
  .bColumn .collection:nth-child(5) .article {
    width: 25%;
    display: inline-block;
    float: left; }
.bColumn .collection:nth-child(7) {
  clear: both;
  border-top: 1px solid #dbdbdb; }

.collection {
  padding: 16px 0; }

.HeadlineOnly {
  display: none; }

@media (max-width: 960px) {
  .section {
    padding: 16px 0;
    border: 0; }

  .aColumn .LedeStory395 {
    float: left;
    width: 100%; }
    .aColumn .LedeStory395 .article {
      border-right: 0px;
      border-bottom: 1px solid #dbdbdb; }
  .aColumn .BlogModule {
    width: 100%; }
    .aColumn .BlogModule .article {
      border-left: 0px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb; }
    .aColumn .BlogModule .image-container {
      float: right; }
    .aColumn .BlogModule p {
      font-size: 16px; }
  .aColumn .collection:nth-child(2) {
    width: 100%;
    border-bottom: 1px solid #dbdbdb; }
  .aColumn .collection:nth-child(4) {
    border-top: 0px solid #dbdbdb; }
    .aColumn .collection:nth-child(4) .article ~ .article {
      border-left: 0px solid #dbdbdb;
      border-top: 1px solid #dbdbdb; }
  .aColumn .collection:nth-child(5) .article {
    width: 100%; }
  .aColumn .collection:nth-child(5) .article ~ .article {
    border-top: 1px solid #dbdbdb; }
  .aColumn .collection:nth-child(7) .article {
    width: 100%; }
  .aColumn .collection:nth-child(7) .article ~ .article {
    border-top: 1px solid #dbdbdb; }

  .bColumn .collection:nth-child(1) {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #dbdbdb; }
    .bColumn .collection:nth-child(1) .article {
      width: 100%; }
  .bColumn .collection:nth-child(2) {
    width: 100%; }
    .bColumn .collection:nth-child(2) .article ~ .article .article__inner {
      border-top: 1px solid #dbdbdb; }
  .bColumn .collection:nth-child(3) {
    width: 100%;
    display: inline-block;
    float: left; }
    .bColumn .collection:nth-child(3) .article {
      width: 100%; }
    .bColumn .collection:nth-child(3) .article ~ .article {
      border-left: 0px solid #dbdbdb; }
  .bColumn .collection:nth-child(4) {
    width: 100%;
    border-top: 1px solid #dbdbdb;
    display: block; }
    .bColumn .collection:nth-child(4) .article {
      display: block;
      width: 100%; }
  .bColumn .collection:nth-child(5) {
    width: 100%;
    clear: both;
    border-top: 1px solid #dbdbdb; }
    .bColumn .collection:nth-child(5) .article {
      width: 100%;
      display: inline-block; }
  .bColumn .collection:nth-child(7) {
    clear: both;
    border-top: 1px solid #dbdbdb; } }
@media (max-width: 768px) {
  .aColumn .collection:nth-child(5) .article .image-container, .aColumn .collection:nth-child(7) .article .image-container {
    padding: 0;
    width: 100%;
    max-width: 100%;
    float: none; }
  .aColumn .collection:nth-child(4) {
    display: block;
    width: 100%; }
    .aColumn .collection:nth-child(4) .image-container {
      display: block;
      width: 100%;
      padding: 0 0 16px 0; }
    .aColumn .collection:nth-child(4) .article ~ .article .article__inner {
      border-top: 0px solid #dbdbdb; }
  .aColumn .collection:nth-child(7) .article .article__inner {
    border-bottom: 1px solid #dbdbdb; }

  .bColumn .collection:nth-child(1) .article .image-container {
    padding: 0;
    width: 100%;
    float: none; }
  .bColumn .collection:nth-child(3) .article ~ .article {
    border-top: 1px solid #dbdbdb; }
  .bColumn .collection:nth-child(5) .article {
    border-bottom: 1px solid #dbdbdb; } }
.article {
  padding: 0 16px 0; }

.article__inner {
  padding: 16px 0; }

.button {
  padding: 8px 32px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  -o-transition: .3s;
  -ms-transition: .3s;
  -mos-transition: .3s;
  -webkit-transition: .3s; }

.button--color-black {
  color: white;
  background-color: black; }
  .button--color-black:hover {
    background-color: #2d5b86; }

/*# sourceMappingURL=application.css.map */
