.section {
  display: inline-block;
  padding: $padding--m 0;
  border-bottom: 1px solid gray;
} 

.aColumn {
  display: flex;
  flex-wrap: wrap;

  .collection.LedeStory395 {
    flex: 1;
  }

  .StandardThumb:nth-child(4) {
    .article~.article {
      border-left: 1px solid gray;
    }
  }
}

.bColumn {
  .StandardThumb:nth-child(6), .StandardThumb:nth-child(8), .StandardThumb:nth-child(9),
  .StandardThumb:nth-child(10) {
    display: none;
  }
}


